*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    display: none;
}

body{
    background-image: url("./blue_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

a{
    text-decoration: none !important;
}

a:hover{
    color: blueviolet !important;
}

img{
    box-shadow: 0 0 5px 1px white;
}