<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Recommender | Top 50</title>

  <!-- F A V I C O N ---------------------------------------------------------------------------------------------->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <!-- --------------------------------------------------------------------------------------------------------- -->

  <!------------------------------------------------- TAILWIND CSS ------------------------------------------------>
  <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
  <!--------------------------------------------------------------------------------------------------------------->
</head>

<body class="">
  <!------------------------------------------- N A V B A R ------------------------------------------->
  <nav class="">
    <div class="">
      <div class="">
        <a class="" href="/">Recommender</a>
        <ul class="">
          <li class="">
            <a class="" aria-current="page" href="/">Top 50</a>
          </li>
          <li class="">
            <a class="" id="for-you" aria-current="page" href="/recommend">For You</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--------------------------------------------------------------------------------------------------->

  <!--------------------------------------------- B O D Y --------------------------------------------->
  <div class="">
    <div class="">
      <div class="">
        <h2 class="">{{ title }}</h2>
      </div>

      {% for i in range(book|length) %}
      <div class="">
        <div class="">
          <div class="">
            <img src="{{ img[i] }}" alt="book_cover" class="">
            <h5 class="">{{ book[i] }}</h5>
            <h6 class="">{{ author[i] }}</h6>
            <h6 class="">{{ votes[i] }}&nbsp;reviews</h6>
            {% if rating[i] <= p_25 %} <h6 class="">{{ rating[i] }}</h6>
              {% elif rating[i] > p_25 and rating[i] <= p_50 %} <h6
                class="">{{
                rating[i] }}</h6>
                {% elif rating[i] > p_50 and rating[i] <=p_75 %} <h6
                  class="">
                  {{
                  rating[i] }}</h6>
                  {% else %}
                  <h6 class="">{{ rating[i] }}</h6>
                  {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------->
  <footer id="footer">
    <code>
            Made with &#128153; by <a href="https://github.com/nirmit27">Nirmit Mishra</a>.
        </code>
  </footer>
  
</body>

</html>