<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommender | For You</title>

    <!-- F A V I C O N ---------------------------------------------------------------------------------------------->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <!-- --------------------------------------------------------------------------------------------------------- -->

    <!------------------------------------------------- TAILWIND CSS ------------------------------------------------>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <!--------------------------------------------------------------------------------------------------------------->
</head>

<body>
    <!------------------------------------------- N A V B A R ------------------------------------------->
    <nav class="">
        <div class="">
            <div class="">
                <a class="" href="/">Recommender</a>
                <ul class="">
                    <li class="">
                        <a class="" aria-current="page" href="/">Top 50</a>
                    </li>
                    <li class="">
                        <a class="" id="for-you" aria-current="page" href="/recommend">For
                            You</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--------------------------------------------------------------------------------------------------->

    <!--------------------------------------------- B O D Y --------------------------------------------->
    <div class="">
        <div class="">
            <div class="">
                <h2 class="">{{ title }}&nbsp;<b style="color: gold;">{{ book_title }}</b></h2>
                {% if not data %}
                <form action="/recommend_books" method="post" class="">
                    <input type="text" name="user_input" id="search-box" class="form-control"
                        placeholder="Enter a book name (e.g. The Da Vinci Code)" value="">
                    <div class="">
                        <input type="submit" value="Search Books" id="sub-btn"
                            class="">
                    </div>
                </form>
                {% endif %}
            </div>

            {% if data %}
            {% for i in data %}
            <div class="">
                <div class="" style="height: 25rem; width: auto;">
                    <div class="">
                        <img src="{{i[5]}}" alt="book_cover" class="">
                        <h5 class="">{{i[1]}}</h5>
                        <h6 class="">{{i[2]}}</h6>
                        <h6 class="">{{i[3]}}</h6>
                        <h6 class="">Published in <b class="text-warning">{{i[4]}}</b></h6>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>
    </div>
    <!--------------------------------------------------------------------------------------------------->

    <footer id="footer" style="position: fixed !important;">
        <code>
            Made with &#128153; by <a href="">Nirmit Mishra</a>.
        </code>
    </footer>

    <!-- <script>
        const footer = document.getElementById("footer");
        const input = document.getElementById("search-box");
        if (input.value === "") {
            footer.style.position = "fixed";
        }
        else {
            footer.style.position = "relative";
        }
    </script> -->

</body>

</html>